livekit-agents==1.1.3
livekit-plugins-openai==1.1.3
livekit-plugins-cartesia==1.1.3
livekit-plugins-deepgram==1.1.3
livekit-plugins-google==1.1.3
livekit-plugins-silero==1.1.3
# optional, only when using LiveKit's turn detection model
livekit-plugins-turn-detector==1.1.3
# optional, only if background voice & noise cancellation is needed
livekit-plugins-noise-cancellation==0.2.4
python-dotenv==1.1.0
